pkgbase = yelp-xsl
	pkgdesc = Document transformations from Yelp
	pkgver = 42.1
	pkgrel = 2
	url = https://gitlab.gnome.org/GNOME/yelp-xsl
	arch = any
	license = GPL
	makedepends = itstool
	makedepends = git
	source = git+https://gitlab.gnome.org/GNOME/yelp-xsl.git#commit=1658a8eb59a296d9e7b7116fbc79ca778b702e14
	sha256sums = SKIP

pkgname = yelp-xsl
